@media(max-width: 570px){
    .main{
        flex-direction: column;
    }

    .main .informacoes{
        width: 90%;
        margin: 0 0 50px 0;
    }

    .main .informacoes h2{
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    .main .informacoes p {
        font-size: 20px;
        line-height: 22px;
    }

    .formulario{
        width: 90%;
    }

    .formulario .controle-formulario {
        margin-bottom: 20px;
    }
    
    .controle-formulario:nth-last-child(3) {
        margin-bottom: 10px;
    }

    .formulario .controle-formulario .dados-usuario {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
    }

    .formulario .controle-formulario .msg-campo-obrigatorio {
        font-size: 14px;
        line-height: 15px;
    }

    .formulario .msg-texto-obrigatorio-fixa {
        font-size: 18px;
    }

    .formulario .btn-enviar {
        font-size: 25px;
    }
}

@media(min-width: 1440px){
    .main .informacoes {
        max-width: 500px;
        margin-right: 60px;
    }

    .main .informacoes h2{
        font-size: 30px;
        line-height: 32px;
    }

    .main .informacoes p {
        font-size: 25px;
        line-height: 27px;
    }

    .formulario{
        width: 600px;
    }

    .formulario .controle-formulario .dados-usuario {
        font-size: 20px;
        line-height: 22px;
    }

    .formulario .controle-formulario .msg-campo-obrigatorio {
        font-size: 12px;
        line-height: 14px;
    }

    .formulario .msg-texto-obrigatorio-fixa {
        font-size: 16px;
    }

    .formulario .btn-enviar {
        font-size: 20px;
    }
}